.sidebar {
  background: red;
  grid-area: sidebar;
  padding: 2px 10px;
}
.sidebar li {
  padding: 2px 0px;
  cursor: pointer;
}
.sidebar-item--selected {
  color: #fff;
}
.sidebar h3 {
  padding: 2px;
  margin: 0 0 10px;
  color: yellow;
}
