.email--item {
  display: flex;
  padding: 4px 4px;
  /**/
  background: rgba(242, 245, 245, 0.8);
  border-bottom: 1px solid gray;
}
.email--item .from {
  width: 100px;
  padding: 0px 5px;
}
.email--item.selected {
  background: #c2dbff;
}
